/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: hsla(0, 93%, 43%, 0.824);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.produtos article {
    border: 1px solid #ccc;
    padding: 20px;
}

.produtos article img {
    display: block;
    margin: 0 auto; /* Centralizar imagem */
    max-width: 100%;
    height: auto;
}
